<!DOCTYPE html>
<html lang="en">
</html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen"/>

</head>
<body>
<th:block th:replace="navigation-bar :: navigator"/>

<h1>Grades</h1>
<table style="border: 1px solid #000; width: 100%">
    <tr>
        <table style="border: 1px solid #000; width: 100%">
            <tr>
                <th>Lp.</th>
                <th>Id</th>
                <th>Value</th>
                <th>Subject</th>
                <th>Date added</th>
                <th></th>
                <th></th>
            </tr>
            </tr>

            <tr th:each="gr,loop : ${grades}">
                <td th:text="${loop.index}"></td>
                <td th:text="${gr.getId()}"></td>
                <td th:text="${gr.getSubject()}"></td>
                <td th:text="${gr.getValue()}"></td>
                <td th:text="${gr.getDateAdded()}"></td>

                <td>
                    <a th:href="@{/grade/remove(gradeId=${gr.getId()}, studentId=${gr.getStudent().getId()})}">Remove</a>
                </td>
                <td>
                    <a th:href="@{/grade/edit(gradeId=${gr.getId()}, studentId=${gr.getStudent().getId()})}">Edit</a>
                </td>

            </tr>
        </table>
        </table>
</body>
</html>