<!DOCTYPE html>
<html lang="en">
</html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen"/>



</head>
<body>

<th:block th:fragment="navigator">
    <nav>
        <div class="logo">
            <a th:href="@{/}">Student crud</a>
        </div>
        <ul class="nav-links">

            <li>
                <a th:href="@{/student/add}">Student add</a>
            </li>
            <li>
                <a th:href="@{/student/list}">Student list</a>
            </li>
        </ul>
    </nav>
</th:block>


</body>
</html>